@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Mukta', sans-serif; */
/* font-family: 'Open Sans Condensed', sans-serif; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Spartan', sans-serif; */

.about {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.image1 img {
  opacity: 0.9;
  filter: brightness(50%);
}

.heading {
  position: absolute;
  left: 26%;
  font-family: 'Spartan', sans-serif;
  top: 8%;
}

.heading h1 {
  font-size: 40px;
  letter-spacing: 2px;
  color: var(--color-primary-50);
}

.heading h1 span {
  color: var(--color-primary-800);
}

.heading h2 {
  color: var(--color-primary-100);
  position: absolute;
  font-size: 29px;
  left: 144px;
  letter-spacing: 2px;
}

.box__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  flex-direction: column;
  width: 936px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 40px;
  grid-gap: 32px;
  position: relative;
  margin-left: 6%;
  margin-top: 10%;
  margin-bottom: 55px;
  box-shadow: 0 15px 35px -10px var(--color-primary-700);
}

.box {
  text-align: left;
  padding: 30px;
  background-color: rgb(2 32 160 / 10%);
}

.box h2 {
  color: var(--color-primary-50);
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 20px;
  margin-top: 7px;
  text-transform: lowercase;
}

.box p {
  font-size: 14px;
  color: var(--color-primary-100);
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: rgb(230 235 255 / 27%);
  display: flex;
  left: 0;
  right: 0;
  top: -40px;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: absolute;
}

.icon1 {
  margin: 48px 225px;
}
.icon2 {
  margin: 48px 531px;
}
.icon3 {
  margin: 48px 834px;
}
.icon4 {
  margin: 370px 225px;
}
.icon5 {
  margin: 370px 531px;
}
.icon6 {
  margin: 370px 834px;
}

.icon img {
  object-fit: contain;
  width: 50px;
  object-position: center;
  height: 50px;
}
