@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

.container {
  background-color: #e07e1c;
  height: 100vh;
  position: relative;
  margin: auto;
  width: 1300px;
}

.container__image {
  height: 500px;
  width: 500px;
  /* opacity: 0.95; */
  position: absolute;
  top: 38%;
  left: 15%;
  -webkit-box-shadow: 0 12px 30px rgb(0 0 0 / 90%);
  box-shadow: 0 12px 30px rgb(0 0 0 / 90%);
  background-color: rgb(255 195 0);
  z-index: 110;
  overflow: unset;
}

.container__image img {
  width: 85%;
  /* object-position: bottom; */
  position: absolute;
  top: -251px;
  left: 39px;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  /* opacity: 0.95; */
  -webkit-filter: drop-shadow(-10px -13px 40px #000);
  filter: drop-shadow(-10px -13px 40px #000);
  z-index: 50;
  /* border-radius: 50%; */
  overflow: unset;
}

.text {
  position: absolute;
  width: 1000px;
  height: 540px;
  left: 12%;
  top: 30%;
  z-index: 10;
  text-align: right;
  display: flex;
  justify-content: right;
  flex-direction: column;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.9);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 50px;
  overflow: unset;
}

.text h1 {
  font-size: 30px;
  margin-bottom: -8%;
  margin-top: 8%;
}
.text p {
  font-size: 25px;
  font-size: 25px;
  padding-left: 60%;
  margin-top: 155px;
  line-height: 45px;
}
